 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

    }
body{
   
    background-image: url("uff.png");
    background-repeat: no-repeat;
    background-size: 1536px 820px;
}
#info-box{
  border:2px solid rgb(55, 134, 237);
  padding-left:50px ;
  padding-bottom:20px ;
  padding-right:50px ;
  padding-top:40px ;
  display: inline-block;
  margin-left: 590px;
  margin-top: 30px;
  border-radius: 20px;
  color: rgb(10, 127, 199);
  background-color: rgba(177, 20, 177, 0.27);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url("uff.png");
   background-size: 1136px 890px;
  
}
#tasks{
  padding-left:20px ;
  padding-bottom:20px ;
  padding-right:20px ;
  padding-top:20px ;
  border-radius: 20px;
  margin-left: 16px;
}
#days{
  padding-left:20px ;
  padding-bottom:20px ;
  padding-right:20px ;
  padding-top:20px ;
  border-radius: 20px;
  margin-left: 16px;
}
#name{
  padding-left:20px ;
  padding-bottom:20px ;
  padding-right:25px ;
  padding-top:20px ;
  border-radius: 20px;
  margin-left: 16px;
}
nav{
    display:flex ;
    margin-left: 0%;
    background-color:rgba(127, 187, 237, 0.73);
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 3px;
    width: 100%;
   

}
nav li{
    font-size: 20px;
    list-style: none;
    padding:0px 23px;
    padding-top: 9px;
     border-radius: 20px;
     
}
nav li:hover{
 
    transform: scale(1.3);
}
nav form{
    margin-left:860px;
}
nav input{
    padding: 12px;
    border-radius: 15px;
    border: 2px solid white;
}
nav button{
 padding: 10px;
    border-radius: 15px;
    border: 0px solid white;
    background-color: rgb(233, 222, 14);
}
#head{
border:2px solid rgb(253, 253, 253);
  padding-left:10px ;
  padding-bottom:10px ;
  padding-right:20px ;
  padding-top:10px ;
  border-radius: 210px;
  color: rgb(255, 255, 255);
  background-color: rgba(10, 157, 231, 0.484);
   transition: transform 0.3s ease ;
}
#head:hover{
  transform: scale(1.1);
}

#submit{
  display: inline-block;
  padding-left:15px ;
  padding-bottom:10px ;
  padding-right:15px ;
  padding-top:10px ;
  border:2px solid rgb(253, 253, 253);
  border-radius: 20px;
   background-color: rgb(233, 222, 14);
   color: black;
   font-weight: 100px;
   margin-left: 60px;
   transition: transform 0.3s ease ;
   cursor: pointer;
}
#submit:hover{
  transform: scale(1.1);
}
#homeic{
  height: 35px ;
  width: 35px;
  border-radius: 20px;
}
#aboutic{
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#contactic{
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#listic{
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#useric{
 
  border-radius: 20px;
  height: 39px ;
  width: 39px;
}
#users{
 margin-left: 940px;
}
#settingic{
  margin-right: 7px;
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#accounts{
  margin-left: 3px;
background-color: rgb(238, 63, 63);
border-radius: 30px;
padding: 15px;
}