 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

    }
body{
   
    background-image: url("uff.png");
    background-repeat: no-repeat;
    background-size: 1536px 820px;
}
#task-box
{
border:3px solid rgb(55, 134, 237);
  padding-left:50px ;
  padding-bottom:40px ;
  padding-right:50px ;
  padding-top:20px ;
  display: inline-block;
  margin-left: 70px;
  margin-top: 70px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  
  color: rgb(10, 127, 199);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url("uff.png");
  background-size: 1450px 900px;
  height: 500px;
  width: 938px;
  word-wrap: break-word;
  overflow: auto;
}
nav{
    display:flex ;
    margin-left: 0%;
    background-color:rgba(127, 187, 237, 0.73);
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 3px;
    width: 100%;
   

}
nav li{
    font-size: 20px;
    list-style: none;
    padding:0px 23px;
    padding-top: 9px;
     border-radius: 20px;
     
}
nav li:hover{
 
    transform: scale(1.3);
}
nav form{
    margin-left:860px;
}
nav input{
    padding: 12px;
    border-radius: 15px;
    border: 2px solid white;
}
nav button{
 padding: 10px;
    border-radius: 15px;
    border: 0px solid white;
    background-color: rgb(233, 222, 14);
}
#title{
  display: inline-block;
  margin-left: 300px;
  border:2px solid rgb(253, 253, 253);
  padding-left:60px;
  padding-bottom:10px ;
  padding-right:20px ;
  padding-top:8px ;
  border-radius: 210px;
  color: rgb(255, 255, 255);
  background-color: rgba(10, 157, 231, 0.484);
   transition: transform 0.3s ease ;
   font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 250px;
}
#title:hover{
  transform: scale(1.1);
}
.task-info{
  height: 50px;
  padding-left:20px ;
  padding-bottom:20px ;
  padding-right:20px ;
  padding-top:20px ;
  border-radius: 20px;
  width: 600px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.day-info{
  height: 50px;
  padding-left:20px ;
  padding-bottom:20px ;
  padding-right:20px ;
  padding-top:20px ;
  border-radius: 20px;
  width: 90px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 60px;
   background-color: rgb(255, 247, 1);
  color: black;
}
.status{
  margin-left: 49px;
  height: 45px;
  width:45px;
  border-radius: 50%;
}
.input-row {
  display: flex;
  align-items: center;
  gap: 8px; /* space between inputs */
  margin-bottom: 8px; /* space after each row */
}
#save{
   margin-left: 250px;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(5, 224, 5);
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: 540;
  border: 2px solid white;
  transition: transform 0.3s ease ;
}
#save:hover{
  transform: scale(1.1);
}
#clear{
  margin-left: 40px;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(250, 37, 37);
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: 540;
  border: 2px solid white;
  transition: transform 0.3s ease ;
}
#clear:hover{
  transform: scale(1.1);
}
#homeic{
  height: 35px ;
  width: 35px;
  border-radius: 20px;
}
#aboutic{
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#contactic{
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#listic{
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#useric{
 
  border-radius: 20px;
  height: 39px ;
  width: 39px;
}
#users{
 margin-left: 940px;
}
#settingic{
  margin-right: 7px;
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#accounts{
  margin-left: 3px;
background-color: rgb(238, 63, 63);
border-radius: 30px;
padding: 15px;
}
