 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

    }
body{
   
    background-image: url("uff.png");
    background-repeat: no-repeat;
    background-size: 1536px 820px;
}
nav{
    display:flex ;
    margin-left: 0%;
    background-color:rgba(127, 187, 237, 0.73);
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 3px;
    width: 100%;
   

}
nav li{
    font-size: 20px;
    list-style: none;
    padding:0px 23px;
    padding-top: 9px;
     border-radius: 20px;
     cursor: pointer;
}
nav li:hover{
 
    transform: scale(1.3);
}
nav form{
    margin-left:860px;
}
nav input{
    padding: 12px;
    border-radius: 15px;
    border: 2px solid white;
}
nav button{
 padding: 10px;
    border-radius: 15px;
    border: 0px solid white;
    background-color: rgb(233, 222, 14);
}
#homeic{
  height: 35px ;
  width: 35px;
  border-radius: 20px;
}
#aboutic{
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#contactic{
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#listic{
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#useric{
 
  border-radius: 20px;
  height: 39px ;
  width: 39px;
}
#users{
 margin-left: 940px;
}
#settingic{
  margin-right: 7px;
  border-radius: 20px;
  height: 35px ;
  width: 35px;
}
#accounts{
  margin-left: 3px;
background-color: rgb(238, 63, 63);
border-radius: 30px;
padding: 15px;
}